<p></p>

<script src="/script.js"></script>
<div id="content" class="ui container">
  
    <div class="ui segment">
      <div class="ui grid">
        <div class="six wide column"><h3>Setup Name</h3></div>
        <div class="six wide column"><h3>Creator</h3></div>
        <!--<div class="four wide column"></div>-->
        <div class="four wide column"></div>
      </div>
      <div class="ui divider"></div>
  
  
      <div class="ui" style="height: 70%;">
        <div class="ui segment" *ngFor="let setup of setups">
          <div class="ui middle aligned grid">
            <div class="six wide column">{{setup.setupName}}</div>
            <div class="six wide column">{{setup.creator}}</div>
            <!--<div class="four wide column"></div>-->
            <div class="four wide right aligned column">
              <div class="ui suspend button" (click)="edit(setup.id)" data-tooltip="Edit Setup">Edit</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="canCreateSetup()">
          <div class="ui hidden divider"></div>
          <div class="one wide column"></div>
          <div class="one wide column"></div>
          <div class="four wide right aligned column">
            <div class="ui blue fluid button" (click)="createSetup()">Create New Setup</div>
          </div>
      </div>
      
    </div>

</div>
