<h2 mat-dialog-title class="custom">
	{{getTitle()}}
</h2>
<mat-dialog-content class="custom">
	<mat-tab-group dynamicHeight="true">
		<mat-tab label="General" >
			<mat-form-field style="width:100%">
				<input matInput [readonly]="true"
					placeholder="Layer" [(ngModel)]="infrastructure.name">
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Name" [(ngModel)]="_element.name">
			</mat-form-field>
<!-- 			<mat-form-field> -->
<!-- 				<input matInput placeholder="Element class" [(ngModel)]="_element.railwayElementClass"> -->
<!-- 			</mat-form-field> -->
			<mat-form-field>
			    <mat-select placeholder="Element class" [(ngModel)]="_element.class">
			      <mat-option *ngFor="let class of projectService.railwayElementClasses" [value]="class.name">
			        {{class.name}}
			      </mat-option>
			    </mat-select>
			</mat-form-field>
			<div style="display: flex">
				<fieldset [ngStyle]="{'flex': infrastructure.properties.parentRailwayID ? '50%' : '100%'}">
					<legend><mat-radio-button value="0" name="locationType">Location</mat-radio-button></legend>
					<mat-form-field>
						<input matInput placeholder="Latitude" [(ngModel)]="_element.location.geometry.coordinates[1]">
					</mat-form-field>
					<br />
					<mat-form-field>
						<input matInput placeholder="Longitude" [(ngModel)]="_element.location.geometry.coordinates[0]">
					</mat-form-field>
				</fieldset>
				<fieldset *ngIf="infrastructure.properties.parentRailwayID" style="flex: 50%">
					<legend><mat-radio-button value="1" name="locationType">PK Reference</mat-radio-button></legend>
					<mat-form-field>
						<input matInput type="number" placeholder="PK" [(ngModel)]="_element.properties.kilometricPoint">
					</mat-form-field>
					<br />
<!-- 					<mat-form-field> -->
<!-- 						<input matInput placeholder="Longitude" [(ngModel)]="_element.location.geometry?.properties.kilometricPoint"> -->
<!-- 					</mat-form-field> -->
				</fieldset>
			</div>
		</mat-tab>
		<mat-tab label="Style">
<!-- 			<mat-form-field> -->
<!-- 				<input matInput [(ngModel)]="_element.properties.color" placeholder="Color"> -->
<!-- 			</mat-form-field> -->
		</mat-tab>
	</mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="saveElement()">Save</button>
	<button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</mat-dialog-actions>

