<p></p>

<script src="/script.js"></script>
<div id="content" class="ui container">
  
    <div class="ui segment">
      <div class="ui grid">
        <div class="six wide column"><h3>Serial Number</h3></div>
        <div class="six wide column"><h3>Creator</h3></div>
        <div class="four wide column"></div>
      </div>
      
      <div class="ui divider"></div>

      <div class="ui" style="height: 70%;">
        <mat-spinner *ngIf="hardwares == null"></mat-spinner>
        <div class="ui segment" *ngFor="let hardware of hardwares">
          <div class="ui middle aligned grid">
            <div class="six wide column">{{hardware.serialNumber}}</div>
            <div class="six wide column">{{hardware.creator}}</div>
            <div class="four wide right aligned column">
              
                <button mat-button [matMenuTriggerFor]="menu">Options</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="edit(hardware.id)" data-tooltip="Edit Hardware">Edit Hardware / Details</button>
                  <button mat-menu-item>Delete Hardware</button>
                </mat-menu>
              
            </div>

          </div>
        </div>
      </div>


      <div *ngIf="canCreateHardware()">
          <div class="ui hidden divider"></div>
          <div class="one wide column"></div>
          <div class="one wide column"></div>
          <div class="four wide right aligned column">
            <div class="ui blue fluid button" (click)="createHardware()">Create New Hardware</div>
          </div>
      </div>

    </div>

</div>
