<div id="container">
<!-- 	<app-railwaypoint [feature]="railwayPoint" (coordsChange)="updatePoint()"></app-railwaypoint> -->
<!-- 	<span *ngIf="railwayPoint">{{railwayPoint.properties.idx + 1}}/{{railway.railwayPoints.features.length}}</span> -->
	<span>{{railway.name}}</span>
	<button mat-mini-fab *ngIf="railwayPoint && !railwayNewPoint" (click)="delPoint(railwayPoint)">-</button>
	<button mat-mini-fab color="primary" *ngIf="!railwayNewPoint &&  railwayPoint && railwayPoint == railway.railwayPoints.features[railway.railwayPoints.features.length - 1]"
		(click)="addPointToEnd($event)">+
	</button>
	<button mat-mini-fab color="primary" *ngIf="!railwayNewPoint && railwayPoint && railwayPoint == railway.railwayPoints.features[0]"
		(click)="addPointToBeginning($event)">+
	</button>
<!-- 	<span> -->
<!-- 		<button mat-raised-button color="primary" (click)="saveRailway()">Apply</button> -->
<!-- 		<button mat-raised-button color="contrast" (click)="cancel()">Cancel</button> -->
		<button mat-fab color="primary" (click)="cancelEdit()"><mat-icon>done</mat-icon></button>
		<!-- <button mat-fab color="contrast" (click)="cancel()">Cancel</button> -->
<!-- 	</span> -->
</div>