<p></p>

<div class="ui raised very padded text container segment">
    <mat-spinner *ngIf="testPlan == null"></mat-spinner>
    <div *ngIf="testPlan">
        <h2>Test Plan Details</h2>
        <div><b>id: </b>{{testPlan.id}}</div>
  
        <div><b>Creator: </b>{{testPlan.creator}}</div>
    
        <div><b>Creation Date: </b>{{testPlan.creationDate}}</div>

        <div>
            <b>Test Plan Name: 
            <mat-form-field appearance="standard">
            <mat-label>{{testPlan.testplanName}}</mat-label>
            <input [(ngModel)]="testPlan.testplanName" matInput placeholder="Test Plan Name">
            </mat-form-field>
            </b>
        </div>

        <div class="input-wrapper">
            <b>Start Date:&nbsp;&nbsp;</b>
            <input [(ngModel)]="testPlan.startDate"
                   [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
            <owl-date-time #dtPicker1></owl-date-time>
        </div>

        <p></p>

        <div class="input-wrapper">
            <b>Stop Date:&nbsp;&nbsp;</b>
            <input [(ngModel)]="testPlan.stopDate"
                   [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
            <owl-date-time #dtPicker2></owl-date-time>
        </div>

        <!--
        <div><b>Start Date: </b>
          <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="testPlan.startDate">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div><b>Stop Date: </b>
          <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="testPlan.stopDate">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
          </mat-form-field>
        </div>
      -->
        
      <div>
          <b>Period:
          <mat-form-field appearance="standard">
          <input [(ngModel)]="testPlan.period" matInput placeholder="Period" required>
          </mat-form-field>
          </b>
      </div>

      
      <div class="ui container segment" >
          <h4>Test Plan Setups</h4>
          <mat-spinner *ngIf="test_plan_has_setup == null"></mat-spinner>
          <div class="ui segment" *ngFor="let testPlanSetup of test_plan_has_setup">
              <div class="ui middle aligned grid">
                  <div class="four wide column">{{testPlanSetup.setupName}}</div>
                  <div class="eight wide column">{{testPlanSetup.modemType}}</div>      
                  <div class="four wide right aligned column">
                      <div class="ui suspend button" (click)="deleteSetup(testPlan.id,testPlanSetup.id)" data-tooltip="Delete Setup From Test Plan">Delete</div>
                  </div>
              </div>
          </div>
  
          <p></p>
  
          <div><b>Setups: </b>
              <mat-form-field>
              <select matNativeControl required [(ngModel)]="setupToAddId">
                  <option value="">Choose Setup</option>
                  <option *ngFor="let setup of setups" value="{{setup.id}}">{{setup.setupName}}</option>
              </select>
              </mat-form-field>
          </div>
          <button class="ui primary button" (click)="addSetupToTestPlan(testPlan.id,setupToAddId)" data-tooltip="Add Setup To Test Plan"> Add Setup</button>
          
      </div>
  
        
    
    </div>
    
    <div style="margin-top:30px;">
            <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
            <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
    </div>
    
</div>
