<p></p>
<script src="/script.js"></script>
<div id="content" class="ui container">
  
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column"><h3>Configuration Name</h3></div>
      <div class="four wide column"><h3>Creator</h3></div>
      <div class="four wide column"><h3>Activation Date</h3></div>
      <div class="four wide column"></div>
    </div>
    
    <div class="ui divider"></div>

    <div class="ui" style="height: 70%;">
        <div class="ui segment" *ngFor="let config of configs">
          <div class="ui middle aligned grid">
            <div class="four wide column">{{config.configName}}</div>
            <div class="four wide column">{{config.creator}}</div>
            <div *ngIf="config.activationDate!=null" class="four wide column">{{config.activationDate}}</div>
            <div *ngIf="config.activationDate==null" class="four wide column">No Activation Date</div>
            
            <div class="four wide right aligned column">
              
                <button mat-button [matMenuTriggerFor]="menu">Options</button>
                <mat-menu #menu="matMenu" style="width: ;">
                  <button mat-menu-item (click)="edit(config.id)" data-tooltip="Edit Configuration">Edit Configuration / Details</button>
                  <button mat-menu-item>Delete Configuration</button>
                </mat-menu>
              
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="canCreateConfig()">
          <div class="ui hidden divider"></div>
          <div class="one wide column"></div>
          <div class="one wide column"></div>
          <div class="four wide right aligned column">
            <div class="ui blue fluid button" (click)="createConfig()">Create New Configuration</div>
          </div>
      </div>


  </div>

</div>
