<p></p>

<div class="ui raised very padded text container segment">

  <h2>Create Configuration: </h2>

  <div>
    <b>Name:
    <mat-form-field appearance="standard">
    <input [(ngModel)]="configName" matInput placeholder="Configuration Name" required>
    </mat-form-field>
    </b>
  </div>

  <div><b>Activation Date: </b>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="activationDate" placeholder="Activation Date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="ui container segment" >
    <h4>Archive</h4>
    
      <div>
        <b>Expiration:
        <mat-form-field appearance="standard">
        <input [(ngModel)]="properties.archive.expiration" matInput placeholder="Expiration">
        </mat-form-field>
        </b>
      </div>

      <div>
        <b>Period:
        <mat-form-field appearance="standard">
        <input [(ngModel)]="properties.archive.period" matInput placeholder="Period">
        </mat-form-field>
        </b>
      </div>

      <div><b>Reference Date: </b>
        <mat-form-field>
          <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="properties.archive.referenceDate" placeholder="Reference Date">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
      </div>
    
  </div> 
  
  <div class="ui container segment" >
    <h4>Control Connection</h4>
    
    <div><b>Reference Date: </b>
      <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker3" [(ngModel)]="properties.controlConnection.referenceDate" placeholder="Reference Date">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker3"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <b>Period:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.controlConnection.period" matInput placeholder="Period">
      </mat-form-field>
      </b>
    </div>
     
    <div>
      <b>Retry Delay:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.controlConnection.retryDelay" matInput placeholder="retryDelay">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Maximum Retries:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.controlConnection.maxRetries" matInput placeholder="maxRetries">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Core</h4>

    <div>
      <b>Maximum System Log Size: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.core.maxSystemLogSize" matInput placeholder="Maximum System Log Size">
      </mat-form-field>
      </b>
    </div>
     
    <div>
      <b>storageMonitorPeriod: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.core.storageMonitorPeriod" matInput placeholder="storageMonitorPeriod">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>storageWarningThreshold: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.core.storageWarningThreshold" matInput placeholder="storageWarningThreshold">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>storageCriticalThreshold:  
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.core.storageCriticalThreshold" matInput placeholder="storageCriticalThreshold">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Data</h4>

    <div>
      <b>Default Message: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.data.defaultMessage" matInput placeholder="Default Message">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Download</h4>

    <div>
      <b>Retry Delay: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.download.retryDelay" matInput placeholder="retryDelay">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Maximum Retries: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.download.maxRetries" matInput placeholder="Maximum Retries">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Scanning</h4>
    
    <div><b><mat-checkbox [(ngModel)]="properties.scanning.enableMonitor" [checked]="properties.scanning.enableMonitor" >Enable Monitor</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="properties.scanning.enableCsq" [checked]="properties.scanning.enableCsq" >Enable Csq</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="properties.scanning.enableMoni" [checked]="properties.scanning.enableMoni" >Enable Moni</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="properties.scanning.enableMonp" [checked]="properties.scanning.enableMonp" >Enable Monp</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="properties.scanning.enableSmond" [checked]="properties.scanning.enableSmond" >Enable Smond</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="properties.scanning.enableSmonc" [checked]="properties.scanning.enableSmonc" >Enable Smonc</mat-checkbox></b></div>

    <div>
      <b>Sample Time:  
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.scanning.sampleTime" matInput placeholder="Sample Time">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Server</h4>
  
    <div>
      <b>Server Interface: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.server.serverInterface" matInput placeholder="Server Interface">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Registration RetryDelay: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.server.registrationRetryDelay" matInput placeholder="Registration RetryDelay">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Server Address: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.server.serverAddress" matInput placeholder="Server Address">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Server User: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.server.serverUser" matInput placeholder="Server User">
      </mat-form-field>
      </b>
    </div>
    
    <div>
      <b>Server Password: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.server.serverPassword" matInput placeholder="Server Password">
      </mat-form-field>
      </b>
    </div>

  </div>
  
  <div class="ui container segment" >
    <h4>Test Plan</h4>
   
    <div>
      <b>Default Maximum Retries:  
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.testPlan.defaultMaxRetries" matInput placeholder="Default Maximum Retries">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Default Retry Delay: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.testPlan.defaultRetryDelay" matInput placeholder="Default Retry Delay">
      </mat-form-field>
      </b>
    </div>
    
    <div>
      <b>Maximum Log Size: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.testPlan.maxLogSize" matInput placeholder="Maximum Log Size">
      </mat-form-field>
      </b>
    </div>

  </div>

  <div class="ui container segment" >
    <h4>Upload</h4>
   
    <div><b><mat-checkbox [(ngModel)]="properties.upload.autoUpload" [checked]="properties.upload.autoUpload" >Auto Upload</mat-checkbox></b></div>

    <div><b>Reference Date: </b>
      <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker4" [(ngModel)]="properties.upload.referenceDate" placeholder="Reference Date">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker4"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <b>Period:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.upload.period" matInput placeholder="Period">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Retry Delay: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.upload.retryDelay" matInput placeholder="Retry Delay">
      </mat-form-field>
      </b>
    </div>
    
    <div>
      <b>Maximum Retries:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.upload.maxRetries" matInput placeholder="Maximum Retries">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Maximum Upload Size:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.upload.maxUploadSize" matInput placeholder="Maximum Upload Size">
      </mat-form-field>
      </b>
    </div>

  </div>

  <div class="ui container segment" >
    <h4>Voice</h4>

    <div>
      <b>Default Call Duration: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.voice.defaultCallDuration" matInput placeholder="Default Call Duration">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Incoming Call Timeout: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="properties.voice.incomingCallTimeout" matInput placeholder="Incoming Call Timeout">
      </mat-form-field>
      </b>
    </div>
    
  </div>

  <div style="margin-top:30px;">
        <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
        <div class="ui suspend button" (click)="createConfig()" data-tooltip="Create Configuration">Create</div>
  </div>

</div>


