<p></p>

<div class="ui raised very padded text container segment">

  <h2>Create Configuration: </h2>

  <div>
    <b>Name:
    <mat-form-field appearance="standard">
    <input [(ngModel)]="newConfig.configName" matInput placeholder="Configuration Name" required>
    </mat-form-field>
    </b>
  </div>

  <div class="input-wrapper">
    <b>Activation Date:&nbsp;&nbsp;</b>
    <input [(ngModel)]="newConfig.activationDate"
           [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
    <owl-date-time #dtPicker1></owl-date-time>
  </div>

  
  <div class="ui container segment" >
    <h4>Archive</h4>

      <p></p>

      <b>Expiration:&nbsp;&nbsp;
        <div class="ui right labeled input" style="width:90px;">
            <input [(ngModel)]="archive.expiration" type="text">
            <div class="ui basic label">
                <select id="expirationTimeformat" matNativeControl required>
                  <option value="3600">hours</option>
                  <option value="60">minutes</option>
                  <option value="1" selected>seconds</option>
                </select>
            </div>
        </div> 
      </b>

      <p></p>

      <b>Period:&nbsp;&nbsp;
        <div class="ui right labeled input" style="width:90px;">
            <input [(ngModel)]="archive.period" type="text">
            <div class="ui basic label">
                <select id="expirationTimeformat" matNativeControl required>
                  <option value="3600">hours</option>
                  <option value="60">minutes</option>
                  <option value="1" selected>seconds</option>
                </select>
            </div>
        </div> 
      </b>

      <p></p>

      <div class="input-wrapper">
        <b>Reference Date:&nbsp;&nbsp;</b>
        <input [(ngModel)]="archive.referenceDate"
               [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
        <owl-date-time #dtPicker2></owl-date-time>
      </div>
    
  </div> 
  
  <div class="ui container segment" >
    <h4>Control Connection</h4>
    
    <p></p>
    
    <div class="input-wrapper">
      <b>Reference Date:&nbsp;&nbsp;</b>
      <input [(ngModel)]="controlConnection.referenceDate"
             [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3">
      <owl-date-time #dtPicker3></owl-date-time>
    </div>

    <p></p>

    <b>Period:&nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="controlConnection.period" type="text">
          <div class="ui basic label">
              <select id="controlConPeriodTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>
     
    <p></p>

    <b>Retry Delay:&nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="controlConnection.retryDelay" type="text">
          <div class="ui basic label">
              <select id="controlConRetDelaydTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>

    <div>
      <b>Maximum Retries:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="controlConnection.maxRetries" matInput placeholder="maxRetries">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Core</h4>

    <div>
      <b>Maximum System Log Size: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="core.maxSystemLogSize" matInput placeholder="Maximum System Log Size">
      </mat-form-field>
      </b> (bytes)
    </div>
     
    <b>Storage Monitor Period:&nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="core.storageMonitorPeriod" type="text">
          <div class="ui basic label">
              <select id="coreStorageMonitorTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>

    <div>
      <b>Storage Warning Threshold: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="core.storageWarningThreshold" matInput placeholder="storageWarningThreshold">
      </mat-form-field>
      </b> (bytes)
    </div>

    <div>
      <b>Storage Critical Threshold:  
      <mat-form-field appearance="standard">
      <input [(ngModel)]="core.storageCriticalThreshold" matInput placeholder="storageCriticalThreshold">
      </mat-form-field>
      </b> (bytes)
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Data</h4>

    <div>
      <b>Default Message: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="data.defaultMessage" matInput placeholder="Default Message">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Download</h4>

    <b>Retry Delay: &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="download.retryDelay" type="text">
          <div class="ui basic label">
              <select id="downloadRetryDelayTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>

    <div>
      <b>Maximum Retries: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="download.maxRetries" matInput placeholder="Maximum Retries">
      </mat-form-field>
      </b>
    </div>
    
  </div> 

  <div class="ui container segment" >
    <h4>Scanning</h4>
    
    <div><b><mat-checkbox [(ngModel)]="scanning.enableMonitor"  >Enable Monitor</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="scanning.enableCsq" >Enable Csq</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="scanning.enableMoni"  >Enable Moni</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="scanning.enableMonp"  >Enable Monp</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="scanning.enableSmond"  >Enable Smond</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="scanning.enableSmonc" >Enable Smonc</mat-checkbox></b></div>

    <b>Sample Time:   &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="scanning.sampleTime" type="text">
          <div class="ui basic label">
              <select id="scanningSampleTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>
    
  </div> 

  <div class="ui container segment" >
    <h4>Server</h4>
  
    <div>
      <b>Server Interface: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="server.serverInterface" matInput placeholder="Server Interface">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Registration Retry Delay: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="server.registrationRetryDelay" matInput placeholder="Registration RetryDelay">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Server Address: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="server.serverAddress" matInput placeholder="Server Address">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Server User: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="server.serverUser" matInput placeholder="Server User">
      </mat-form-field>
      </b>
    </div>
    
    <div>
      <b>Server Password: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="server.serverPassword" matInput placeholder="Server Password">
      </mat-form-field>
      </b>
    </div>

  </div>
  
  <div class="ui container segment" >
    <h4>Test Plan</h4>
   
    <div>
      <b>Default Maximum Retries:  
      <mat-form-field appearance="standard">
      <input [(ngModel)]="testPlan.defaultMaxRetries" matInput placeholder="Default Maximum Retries">
      </mat-form-field>
      </b>
    </div>

    <b>Default Retry Delay:  &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="testPlan.defaultRetryDelay" type="text">
          <div class="ui basic label">
              <select id="testPlanDefaultRetDelTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>
    
    <div>
      <b>Maximum Log Size: 
      <mat-form-field appearance="standard">
      <input [(ngModel)]="testPlan.maxLogSize" matInput placeholder="Maximum Log Size">
      </mat-form-field>
      </b> (bytes)
    </div>

  </div>

  <div class="ui container segment" >
    <h4>Upload</h4>
   
    <p></p>

    <div><b><mat-checkbox [(ngModel)]="upload.autoUpload" >Auto Upload</mat-checkbox></b></div>

    <p></p>

    <div class="input-wrapper">
      <b>Reference Date:&nbsp;&nbsp;</b>
      <input [(ngModel)]="upload.referenceDate"
             [owlDateTimeTrigger]="dtPicker4" [owlDateTime]="dtPicker4">
      <owl-date-time #dtPicker4></owl-date-time>
    </div>

    <p></p>

    <b>Period: &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="upload.period"type="text">
          <div class="ui basic label">
              <select id="uploadPeriodTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>

    <p></p>

    <b>Retry Delay:  &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="upload.retryDelay"type="text">
          <div class="ui basic label">
              <select id="uploadRetDelTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>
    
    <div>
      <b>Maximum Retries:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="upload.maxRetries" matInput placeholder="Maximum Retries">
      </mat-form-field>
      </b>
    </div>

    <div>
      <b>Maximum Upload Size:
      <mat-form-field appearance="standard">
      <input [(ngModel)]="upload.maxUploadSize" matInput placeholder="Maximum Upload Size">
      </mat-form-field>
      </b> (bytes)
    </div>

  </div>

  <div class="ui container segment" >
    <h4>Voice</h4>

    <b>Default Call Duration:   &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="voice.defaultCallDuration"type="text">
          <div class="ui basic label">
              <select id="voiceDefCallDurTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>
 
    <p></p>

    <b>Incoming Call Timeout:  &nbsp;&nbsp;
      <div class="ui right labeled input" style="width:90px;">
          <input [(ngModel)]="voice.incomingCallTimeout"type="text">
          <div class="ui basic label">
              <select id="voiceIncCallTimeoutTimeformat" matNativeControl required>
                <option value="3600">hours</option>
                <option value="60">minutes</option>
                <option value="1" selected>seconds</option>
              </select>
          </div>
      </div> 
    </b>
    
  </div>
 
  <div style="margin-top:30px;">
        <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
        <div class="ui suspend button" (click)="createConfig()" data-tooltip="Create Configuration">Create</div>
  </div>
  
</div>


