<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer id="sidenav" class="sidenav"
      fixedInViewport="true"
      [mode]="side"
      [opened]="false"
      (click)="drawer.toggle()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list id="menulist" on-release="closeMenuOnSelect()">
      <a mat-list-item [routerLink] = "['./map']">Home</a>
      <a mat-list-item [routerLink] = "['./users']">All users</a>
      <a mat-list-item [routerLink] = "['./obus']">All OBUs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="nav-content">
    <mat-toolbar color="primary">
      <button
        class="btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()">
        <!--<mdb-icon fas icon="bars"></mdb-icon>-->
        SideNav
      </button>
      <button
        class="btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="logout()">
        LOGOUT
      </button>
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
