<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer id="sidenav" class="sidenav"
      fixedInViewport="true"
      [mode]="side"
      [opened]="false"
      (click)="drawer.toggle()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list id="menulist" on-release="closeMenuOnSelect()">
      <a mat-list-item [routerLink] = "['./map']">Home</a>
      <a mat-list-item [routerLink] = "['./users']" *ngIf="display_AllUsers_Button">All users</a>
      <a mat-list-item [routerLink] = "['./hardwares']">All Hardwares</a>
      <a mat-list-item [routerLink] = "['./obus']">All OBUs</a>
      <a mat-list-item [routerLink] = "['./configs']">All Configurations</a>
      <a mat-list-item [routerLink] = "['./testPlans']">All Test Plans</a>
      <a mat-list-item [routerLink] = "['./setups']">All Setups</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="nav-content">
    <mat-toolbar color="primary">
      <button
        class="btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        Menu
      </button>
      <button
        class="btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="logout()">
        LOGOUT
      </button>
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
