<p></p>

    <div class="ui segment" style="margin: 1%;">
        
        <div class="ui middle aligned grid">
            <div class="four wide column"><h2>Show on Map:</h2></div> 
            <div class="three wide column">
                
                <button mat-button (click)="showLastPlace()">Show Last Places</button>

            </div>
            <div class="three wide column">

                <button mat-button (click)="showPlaces()">Show Places Between Dates</button>

            </div>
            <div class="three wide column">
                    <div class="input-wrapper">
                        <b>Start Date:&nbsp;&nbsp;</b>
                        <input [(ngModel)]="startDate"
                                [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                        <owl-date-time #dtPicker1></owl-date-time>
                    </div>
            </div>
            <div class="three wide column">
                    <div class="input-wrapper">
                        <b>End Date:&nbsp;&nbsp;</b>
                         <input [(ngModel)]="endDate"
                                [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
                        <owl-date-time #dtPicker2></owl-date-time>
                    </div>
                </div>
        </div>
    </div>

    <div class="ui segment" style="margin: 1%; height: 9%;">
        
            <div class="ui middle aligned grid">
                <div class="four wide column"><h2>Show on Graphic:</h2></div> 
                <div class="three wide column">
                    
                        <mat-form-field>
                                <select matNativeControl required [(ngModel)]="graphicToShow">
                                    <option value=null>Choose an option</option>
                                    <option value="groundSpeed">Ground Speed</option>
                                    <option value="criticalAlarms">Critical Alarms</option>
                                    <option value="majorAlarms">Major Alarms</option>
                                    <option value="warningAlarms">Warning Alarms</option>
                                    <option value="temperature">Temperature</option>
                                    <option value="freeStorage">Free Storage</option>
                                    <option value="usableStorage">Usable Storage</option>
                                </select>
                        </mat-form-field>
    
                </div>
                <div class="three wide column">
    
                    <button mat-button (click)="updateGraphic()">Update Graphic</button>
                </div>
                
            </div>
    </div>

    <div class="ui" style="width: 24%; float:left; padding-left: 1%;">
        <mat-spinner *ngIf="obus == null"></mat-spinner>
        <div class="ui segment" *ngFor="let obu of obus">
            <div class="ui middle aligned grid">
                <div class="six wide column">{{obu.obuName}}</div>
                <div class="five wide column"></div>
                <div class="four wide right aligned column">
                    <div class="ui toggle checkbox">
                        <input *ngIf="toogleButtonVisible==true" type="checkbox" name="public" checked="" (change)="updateMap($event,obu.id)">
                        <input *ngIf="toogleButtonVisible==false" disabled="disabled" type="checkbox" name="public" checked="" (change)="updateMap($event,obu.id)">
                        <label></label>
                      </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="map"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="options">
    </div>
    
    
    
    <div class="chart">
        <canvas #lineChart>{{ chart }}</canvas>
    </div>

    <!--
    <div class="ui segment center aligned" style="float: right; height: 31%;">
        <div>
            <h2>Graphic:</h2>
            <mat-form-field style="width: 70%;">
                <select matNativeControl required [(ngModel)]="graphicToShow">
                    <option value=null>Choose an option</option>
                    <option value="groundSpeed">Ground Speed</option>
                    <option value="criticalAlarms">Critical Alarms</option>
                </select>
            </mat-form-field>
            <p></p>
            <div><button mat-button (click)="updateGraphic()">Update Graphic</button></div>
        </div>
    </div>
    -->
