<!--
<app-nav-menu></app-nav-menu>

<div class="map"
     leaflet
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="options">
</div>
-->

<mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav"
            fixedInViewport="true"
            [mode]="side"
            [opened]="false">
          <mat-toolbar>Menu</mat-toolbar>
          <mat-nav-list>
            <a mat-list-item href="http://localhost:4200/users">All users</a>
            <a mat-list-item href="#">All OBUs</a>
            <a mat-list-item href="#">Link 3</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content id="nav-content">
          <mat-toolbar color="primary">
            <button
              style="float: right"
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
              SideNav
            </button>
            <span class="fill-remaining-space"></span>
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="logout()">
              logout
            </button>
          </mat-toolbar>
          <!-- Add Content Here -->
            <div class="map"
                leaflet
                (leafletMapReady)="onMapReady($event)"
                [leafletOptions]="options">
            </div>
        </mat-sidenav-content>
      </mat-sidenav-container>