<p></p>

    <div class="ui segment" style="margin: 1%">
        
        <div class="ui middle aligned grid">
            <div class="four wide column"><h2>Show on Map:</h2></div> 
            <div class="three wide column">
                
                <button mat-button (click)="showLastPlace()">Show Last Places</button>

            </div>
            <div class="three wide column">

                <button mat-button (click)="showPlaces()">Show Places Between Dates</button>

            </div>
            <div class="three wide column">
                    <div class="input-wrapper">
                        <b>Start Date:&nbsp;&nbsp;</b>
                        <input [(ngModel)]="startDate"
                                [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                        <owl-date-time #dtPicker1></owl-date-time>
                    </div>
            </div>
            <div class="three wide column">
                    <div class="input-wrapper">
                        <b>End Date:&nbsp;&nbsp;</b>
                         <input [(ngModel)]="endDate"
                                [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
                        <owl-date-time #dtPicker2></owl-date-time>
                    </div>
                </div>
        </div>
    </div>


    <div class="ui" style="width: 29%; float:left; padding-left: 1%;">
        <mat-spinner *ngIf="obus == null"></mat-spinner>
        <div class="ui segment" *ngFor="let obu of obus">
            <div class="ui middle aligned grid">
                <div class="six wide column">{{obu.obuName}}</div>
                <div class="six wide column"></div>
                <div class="four wide right aligned column">
                    <div class="ui toggle checkbox">
                        <input *ngIf="toogleButtonVisible==true" type="checkbox" name="public" checked="" (change)="updateMap($event,obu.id)">
                        <input *ngIf="toogleButtonVisible==false" disabled="disabled" type="checkbox" name="public" checked="" (change)="updateMap($event,obu.id)">
                        <label></label>
                      </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="map"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="options">
    </div>
    <div class="chart">
    <canvas #lineChart>{{ chart }}</canvas>
    </div>

