<h2 mat-dialog-title class="custom">
	{{getTitle()}}
</h2>
<mat-dialog-content class="custom">
	<mat-tab-group dynamicHeight="true" [(selectedIndex)]="selectedIndex">
		<mat-tab label="General">
		</mat-tab>
		<mat-tab label="Style">
		</mat-tab>
		<mat-tab label="Layer Link" *ngIf="isInfrastructure()">
		</mat-tab>
<!-- 		<mat-tab label="Classes" *ngIf="isClutter(layer)"> -->
<!-- 		</mat-tab> -->
	</mat-tab-group>
	<section *ngIf="selectedIndex === 0">
		<div>
			<mat-form-field style="width:100%">
				<input matInput [placeholder]="'Layer (' + layer.id + ')'" [(ngModel)]="_layer.name">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input matInput placeholder="Coord. System" [(ngModel)]="_layer.coordinateSystem">
			</mat-form-field>
			<mat-form-field *ngIf="isRailway()">
				<input matInput [readonly]="true" placeholder="Nr of points" [(ngModel)]="railway.railwayPoints.features.length">
			</mat-form-field>
			<mat-form-field *ngIf="isBuildingGroup() && buildings">
				<input matInput [readonly]="true" placeholder="Nr of building" [(ngModel)]="buildings.length">
			</mat-form-field>
<!-- 			<mat-form-field *ngIf="isInfrastructure()"> -->
<!-- 				<input matInput [readonly]="true" placeholder="Nr of elements" [(ngModel)]="infrastructure.elements.features.length"> -->
<!-- 			</mat-form-field> -->
		</div>
		<div>
			<mat-form-field>
				
				<input matInput [readonly]="true" placeholder="Layer type"
					[value]="isRailway() ? 'Railway' : isClutter() ? 'Clutter' : isBuildingGroup() ? 'Building Group' : 'Railway Infrastructure'">
			</mat-form-field>
			<!-- <mat-icon fontSet="fa" [fontIcon]="isRailway(layer) ? 'fa-bacon' : isBuildingGroup(layer) ? 'fa-building' : 'fa-map-marker'"
					style="margin-right: .5em" [style.color]="_layer.properties.color">
			</mat-icon> -->
			<fa-icon [icon]="isRailway(layer) ? 'bacon' : isBuildingGroup(layer) ? 'building' : isClutter(layer) ? 'map-marked' : 'map-marker'"
						style="margin-right: .5em" [style.color]="_layer.properties.color">
					</fa-icon>
			<mat-form-field>
				<input matInput [readonly]="true" placeholder="State"
					[value]="layer.state">
			</mat-form-field>
			<mat-form-field *ngIf="isInfrastructure()">
				<input matInput [readonly]="true" placeholder="Nr of Elements"
					[value]="elements.length">
			</mat-form-field>
		</div>
	</section>
	
	<section *ngIf="selectedIndex === 1 && !isClutter()">
<!-- 			<mat-color-picker [selectedColor]="_layer.properties.color" (selected)="colorChange($event)"> -->
<!-- 			</mat-color-picker> -->
		<mat-form-field>
			<input matInput [(ngModel)]="_layer.properties.color" placeholder="Color" [(colorPicker)]="_layer.properties.color"
				[style.background]="_layer.properties.color" [style.color]="_layer.properties.color" style="width: 50%; min-width: 5em" />
		</mat-form-field>
		<mat-form-field>
			<input matInput type="number" step="1" max="20" min="1" [(ngModel)]="_layer.properties.weight" placeholder="Width">
		</mat-form-field>
		<br />
		<label>Opacity ({{_layer.properties.opacity | percent}})</label><br />
		<mat-slider style="width:100%" min="0" max="1" step=".01" tickInterval="50" [(ngModel)]="_layer.properties.opacity"
			thumbLabel color="primary"
  			[displayWith]="formatSliderLabel">
  		</mat-slider>
<!--   		<mat-form-field> -->
<!-- 			<input matInput type="number" step=".1" max="1" min=".1" [(ngModel)]="_layer.properties.opacity" placeholder="Opacity"> -->
<!-- 		</mat-form-field> -->
	</section>

	<section *ngIf="selectedIndex === 1 && isClutter()">
		<table style="width: 100%">
		<tr>
			<th>Value</th>
			<th>Color</th>
			<th>Label</th>
			<th>Propagation Class</th>
			<th>Environment Type</th>
		</tr>
		<tr *ngFor="let class of clutter.classes; let idx = index">
			<td><input matInput [(ngModel)]="class.pixelValue"></td>
			<td [ngStyle]="{'background-color': classColors[idx]}">
				<div [ngStyle]="{'background-color': classColors[idx], 'width': '100%', 'height': '100%'}" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'enabled'"
				 [(colorPicker)]="classColors[idx]" (colorPickerChange)="classColorChange(idx, $event)">&nbsp;</div>
			</td>
			<td>{{class.description}}</td>
			<td>
				<mat-select>
					<mat-option value="Water">
						Water
					</mat-option>
					<mat-option value="Vegetation">
						Vegetation
					</mat-option>
				</mat-select>
			</td>
			<td>
				<mat-select>
					<mat-option value="Rural">
						Rural
					</mat-option>
					<mat-option value="Urban">
						Urban
					</mat-option>
					<mat-option value="Suburban">
						Suburban
					</mat-option>
				</mat-select>
			</td>
		</tr>
		</table>
		<hr />
		<label>Opacity ({{_layer.properties.opacity | percent}})</label><br />
		<mat-slider style="width:100%" min="0" max="1" step=".01" tickInterval="50" [(ngModel)]="_layer.properties.opacity"
			thumbLabel color="primary"
  			[displayWith]="formatSliderLabel">
  		</mat-slider>
		
<!-- 		<mat-form-field> -->
<!-- 			<input matInput type="number" step=".1" max="1" min=".1" [(ngModel)]="_layer.properties.opacity" placeholder="Opacity"> -->
<!-- 		</mat-form-field> -->
	</section>
	<section *ngIf="selectedIndex === 2 && isInfrastructure()">
<!-- 		<span *ngIf="_layer.properties.parentRailwayID">Linked to {{_layer.properties.parentRailwayID}}</span> -->
<!-- 		<span *ngIf="!_layer.properties.parentRailwayID">Not linked</span> -->
		<mat-form-field>
			<mat-select placeholder="Linked Railway" [(ngModel)]="_layer.properties.parentRailwayID">
				<mat-option>Not Linked</mat-option>
	    		<mat-option *ngFor="let railway of railways" [value]="railway.id">
	      			{{railway.name}}
	    		</mat-option>
	  		</mat-select>
	  	</mat-form-field>
	</section>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="apply()">Apply</button>
<!-- 	<button mat-raised-button color="primary" (click)="delRailway()">Delete</button> -->
	<button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
