<p></p>
<div class="ui raised very padded text container segment">

  <h2>Create Test Plan: </h2>

  <div>
    <b>Name:
    <mat-form-field appearance="standard">
    <input [(ngModel)]="testPlanName" matInput placeholder="Test Plan Name" required>
    </mat-form-field>
    </b>
  </div>

  <div class="input-wrapper">
      <b>Start Date:&nbsp;&nbsp;</b>
      <input [(ngModel)]="startDate"
             [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
      <owl-date-time #dtPicker1></owl-date-time>
  </div>
  <p></p>
  <div class="input-wrapper">
      <b>Stop Date:&nbsp;&nbsp;</b>
      <input [(ngModel)]="stopDate"
             [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
      <owl-date-time #dtPicker2></owl-date-time>
  </div>

  <!--
  <div><b>Start Date: </b>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="startDate" placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div><b>Stop Date: </b>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="stopDate" placeholder="Stop Date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker2></mat-datepicker>
    </mat-form-field>
  </div>
  -->

  <!-- PROPERTIES -->
  <div>
    <b>Period:
    <mat-form-field appearance="standard">
    <input [(ngModel)]="properties.period" matInput placeholder="Period" required>
    </mat-form-field>
    </b>
  </div>
  

  <div style="margin-top:30px;">
    <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
    <div class="ui suspend button" (click)="createTestPlan()" data-tooltip="Create Test Plan">Create</div>
  </div>

</div>
