<!-- <div class="card mt-5" style="margin:auto;width: 600px;"> -->
<div class="login-card" style="text-align: center">
  <img id="mainLogo" src="/assets/SIGRAIL_P logo branco.png">
  <br /><input placeholder="E-mail" [(ngModel)]="username" name="username" required>
  <br /><input placeholder="Password" [(ngModel)]="password" type="password" name="password" required (keyup.enter)="login()">
  <span *ngIf="auth.errorMessage">{{auth.errorMessage}}</span>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  <br />
  <br /><button mat-raised-button (click)="login()" color="primary">Sign In</button>
  <br />
  <br />
  <button (click)="skip()" style="width: auto">skip</button>
</div>



<!-- <mat-card class="login-card">
   <mat-card-header>
     
   </mat-card-header>
   <mat-card-content>
     
   </mat-card-content>
   <mat-card-actions>
     
   </mat-card-actions>
 </mat-card> -->
 
 <img src="../../assets/logo-white.png" style="position: absolute; bottom: 1em; left: 50%; margin-left: -149px">