
<script src="/script.js"></script>
<div id="content" class="ui container">
  
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column">Name</div>
      <div class="four wide column">Profile</div>
      <div class="four wide column">Suspended</div>
      <div class="four wide column"></div>
    </div>
    

    <div class="ui divider"></div>


    <div class="ui" style="height: 70%;">
      <div class="ui segment" *ngFor="let user of users">
        <div class="ui middle aligned grid">
          <div class="four wide column">{{user.user_name}}</div>
          <div class="four wide column">{{user.user_profile}}</div>
          <div class="four wide column">{{user.suspended}}</div>
          <div class="four wide right aligned column">
            <a class="ui empty circular label" [style.background-color]="user.suspended ? 'red' : 'green'"></a>
            <div class="ui suspend button" *ngIf="suspendable(user.id)" (click)="suspend(user.id)" data-tooltip="Suspend User">Suspend</div>
            <div class="ui suspend button" (click)="edit(user.id)" data-tooltip="Edit User">Edit</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="canCreateUsers()">
      <div class="ui hidden divider"></div>


      <div class="ui grid">
        <div class="five wide column">
          <div class="ui fluid input">
            <input type="text" [(ngModel)]="user_name" placeholder="Name...">
          </div>
        </div>

        <div class="one wide column"></div>

        <div class="five wide column">
          <div class="ui fluid input">
            <input type="text" [(ngModel)]="user_password" type="password" placeholder="Password...">
          </div>
        </div>

        <div class="one wide column">
          <!-- insert password visibility button thingy here -->
        </div>

        <!-- 
        <div class="four wide column">
          <select class="ui dropdown" [(ngModel)]="user_profile" placeholder="Profile">
            <option value="">Profile</option>
            <option value="ADMIN">ADMIN</option>
            <option value="SUPER_USER">SUPER_USER</option>
            <option value="NORMAL_USER">NORMAL_USER</option>
          </select>        
        </div>        
        -->
      
        <div class="four wide right aligned column">
          <div class="ui blue fluid button" (click)="createUser()">Create</div>
        </div>
      </div>
    </div>
    
  </div>

    

</div>
