<p></p>

<script src="/script.js"></script>
<div id="content" class="ui container">
  
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column"><h3>Username</h3></div>
      <div class="four wide column"><h3>Profile</h3></div>
      <div class="four wide column"><h3>Suspended</h3></div>
    </div>

    <div class="ui divider"></div>
    
    <div class="ui" style="height: 70%;">
      <div class="ui segment" *ngFor="let user of users">
        <div class="ui middle aligned grid">
          <div class="four wide column">{{user.userName}}</div>
          <div class="four wide column">{{user.userProfile}}</div>
          <div class="four wide column">
            <div class="ui empty circular label" [style.background-color]="user.suspended ? 'red' : 'green'"></div>
          </div>
          <div class="four wide right aligned column">
            <div class="ui suspend button" *ngIf="canBeSuspended(user.id)" (click)="suspend(user.id)" data-tooltip="Suspend User">Suspend</div>
            <div class="ui suspend button" *ngIf="canEditUsers(user.id)" (click)="edit(user.id)" data-tooltip="Edit User">Edit</div>
          </div>
        </div>
      </div>
    </div>

    
    <div *ngIf="canCreateUsers()">
      <div class="ui hidden divider"></div>
      <!-- 
      <div class="ui grid">
        <div class="five wide column">
          <div class="ui fluid input">
            <input type="text" [(ngModel)]="user_name" placeholder="Username...">
          </div>
        </div>

        <div class="one wide column"></div>

        <div class="five wide column">
          <div class="ui fluid input">
            <input type="text" [(ngModel)]="user_password" type="password" placeholder="Password...">
          </div>
        </div>

        <div class="one wide column">
        
        </div>
      
        <div class="four wide right aligned column">
          <div class="ui blue fluid button" (click)="createUser()">Create</div>
        </div>
      </div>
      -->


      <div class="ui grid">
          <div class="four wide column">
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="user_name" placeholder="Username...">
            </div>
          </div>
  
          <div class="four wide column">
            <div class="ui fluid input">
              <input type="text" [(ngModel)]="user_password" type="password" placeholder="Password...">
            </div>
          </div>
        
          
          <div class="three wide right aligned column">
              <select class="ui selection dropdown"  [(ngModel)]= "user_profile">
                  <option value="NORMAL_USER">Normal user</option>
                  <option value="SUPER_USER">Super user</option>
                  <option value="ADMIN">Admin</option>
                </select>
          </div>

          <div class="one wide column"> </div>

          <div class="four wide right aligned column">
            <div class="ui blue fluid button" (click)="createUser()">Create</div>
          </div>
        </div>


    </div>
    
  </div>

    

</div>
