<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav mode="side" position="start" [opened]="sidenavOpened" style="box-shadow: 0 1px 5px rgba(0,0,0,0.65);">
		<nav>
			<mat-list id="navList">
				<mat-list-item class="listEntry" routerLink="projects" routerLinkActive="active">
					<fa-icon icon="folder-open"></fa-icon>
					Projects
				</mat-list-item>
				<mat-list-item class="listEntry" routerLink="layers" routerLinkActive="active">
					<fa-icon icon="layer-group"></fa-icon>
					Layers
				</mat-list-item>
				<mat-list-item class="listEntry" routerLink="propagation-environments" routerLinkActive="active">
					<fa-icon [icon]="['far', 'object-group']"></fa-icon>
					Propagation Environments
				</mat-list-item>
				<mat-list-item class="listEntry" routerLink="transmitter-systems" routerLinkActive="active">
					<fa-icon icon="wifi"></fa-icon>
					Transmitter System
				</mat-list-item>
				<mat-list-item class="listEntry" routerLink="users" routerLinkActive="active">
					<fa-icon icon="users"></fa-icon>
					Users
				</mat-list-item>
				<mat-list-item class="listEntry" routerLink="settings" routerLinkActive="active">
					<fa-icon icon="cogs"></fa-icon>
					Settings
				</mat-list-item>
			</mat-list>	
		</nav>
	</mat-sidenav>

	<mat-sidenav-content>

		<router-outlet></router-outlet>

	</mat-sidenav-content>
</mat-sidenav-container>
