@import "../../_variables.scss";

:host {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.sidenav-container {
	height: 100%;
}

#navList mat-icon, #navList fa-icon {
	font-size: inherit;
	margin-right: .5em;
}

#navList .listEntry {
	color: $text-color;
}

.mat-sidenav-content {
	padding: 0 1em;
}