<p></p>
<div class="ui raised very padded text container segment">

    <div *ngIf="hardware">
        <h2>Hardware Details</h2>
        <div><b>Id: </b>{{hardware.id}}</div>

        <div>
            <b>Serial Number:
            <mat-form-field appearance="standard">
            <mat-label>{{hardware.serialNumber}}</mat-label>
            <input [(ngModel)]="hardware.serialNumber" matInput placeholder="Serial Number">
            </mat-form-field>
            </b>
        </div>
    
        <div *ngIf="hardware.components!=null" class="ui container segment" >
            <h4>Components ({{hardware.components.length}})</h4>
            <div class="ui segment" *ngFor="let component of hardware.components">
                <div>
                    <b>Serial Number:
                    <mat-form-field appearance="standard">
                    <mat-label>{{component.serialNumber}}</mat-label>
                    <input [(ngModel)]="component.serialNumber" matInput placeholder="Serial Number">
                    </mat-form-field>
                    </b>
                </div>

                <!-- 1 versao de component type, possivelmente para deixar fora...
                <div>
                    <b>Component Type:
                    <mat-form-field appearance="standard">
                    <mat-label>{{component.componentType}}</mat-label>
                    <input [(ngModel)]="component.componentType" matInput placeholder="Component Type">
                    </mat-form-field>
                    </b>
                </div>
                -->

                <b>Component Type: </b>
                <mat-form-field>
                <select matNativeControl required [(ngModel)]="component.componentType">
                    <option value="GPS">GPS</option>
                    <option value="LEDS">LEDS</option>
                    <option value="POWER_SUPPLY">POWER_SUPPLY</option>
                    <option value="MOTHERBOARD">MOTHERBOARD</option>
                    <option value="POWER_BOARD">POWER_BOARD</option>
                    <option value="MODEM">MODEM</option>
                </select>
                </mat-form-field>

                <div>
                    <b>Manufacturer:
                    <mat-form-field appearance="standard">
                    <mat-label>{{component.manufacturer}}</mat-label>
                    <input [(ngModel)]="component.manufacturer" matInput placeholder="Manufacturer">
                    </mat-form-field>
                    </b>
                </div>

                <div>
                    <b>Model:
                    <mat-form-field appearance="standard">
                    <mat-label>{{component.model}}</mat-label>
                    <input [(ngModel)]="component.model" matInput placeholder="Model">
                    </mat-form-field>
                    </b>
                </div>
                 
                <div *ngIf="component.componentType=='MODEM' ">
                  
                    <!-- 1º versao do modem type... possivelmente para deitar fora
                    <div>
                        <b>Modem Type:
                        <mat-form-field appearance="standard">
                        <mat-label>{{component.modemType}}</mat-label>
                        <input [(ngModel)]="component.modemType" matInput placeholder="Modem Type">
                        </mat-form-field>
                        </b>
                    </div>
                    -->

                    <b>Modem Type: </b>
                    <mat-form-field>
                    <select matNativeControl required [(ngModel)]="component.modemType">
                        <option value="PLMN">PLMN</option>
                        <option value="GSMR">GSMR</option>
                    </select>
                    </mat-form-field>

                    <div>
                        <b>Imei:
                        <mat-form-field appearance="standard">
                        <mat-label>{{component.imei}}</mat-label>
                        <input [(ngModel)]="component.imei" matInput placeholder="Imei">
                        </mat-form-field>
                        </b>
                    </div>
                
                </div>

                <button class="ui primary button" (click)="deleteComponent(component)" data-tooltip="Delete Component"> Delete Component</button>

            </div>

            <button class="ui primary button" (click)="addComponent()" data-tooltip="Add Component"> Add Component</button>
            
        </div>
    
        <div><b>Creator: </b>{{hardware.creator}}</div>
    
        <div><b>Creation Date: </b>{{hardware.creationDate}}</div>
    
        <div *ngIf="hardware.modified_date!=null || hardware.modifier!=null">
          <div><b>Modifier: </b>{{hardware.modifier}}</div>
          <div><b>Modified Date: </b>{{hardware.modifiedDate}}</div>
        </div>
    
    </div>
    
    <div style="margin-top:30px;">
        <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
        <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
    </div>
    
</div>