<p>
  test-plans works! ainda muito incompleto...
</p>


<script src="/script.js"></script>
<div id="content" class="ui container">
  
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column">ID</div>
      <div class="four wide column">Creator</div>
      <div class="four wide column">Creation Date</div>
      <div class="four wide column"></div>
    </div>
    
    <div class="ui divider"></div>

    <div class="ui" style="height: 70%;">
        <div class="ui segment" *ngFor="let config of configs">
          <div class="ui middle aligned grid">
            <div class="four wide column">{{testplan.id}}</div>
            <div class="four wide column">{{testplan.creator}}</div>
            <div class="four wide column">{{testplan.creationDate}}</div>
            <div class="four wide right aligned column">
              <div class="ui suspend button" (click)="edit(testplan.id)" data-tooltip="Edit Test Plan">Edit</div>
            </div>
          </div>
        </div>
      </div>


    

    

</div>