<p></p>

<div class="ui raised very padded text container segment">

  <div *ngIf="config">
      <h2>Configuration Details</h2>
      <div><b>id: </b>{{config.id}}</div>

      <div><b>Creator: </b>{{config.creator}}</div>
  
      <div><b>Creation Date: </b>{{config.creationDate.slice(0,10)}} {{config.creationDate.slice(11,19)}}</div>

      <div>
          <b>Configuration Name: 
          <mat-form-field appearance="standard">
          <mat-label>{{config.configName}}</mat-label>
          <input [(ngModel)]="config.configName" matInput placeholder="Configuration Name">
          </mat-form-field>
          </b>
      </div>
      
      <div class="input-wrapper">
          <b>Activation Date:&nbsp;&nbsp;</b>
          <input [(ngModel)]="config.activationDate"
                 [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
          <owl-date-time #dtPicker1></owl-date-time>
      </div>

      <div *ngIf="config.archive!=null" class="ui container segment" >
        <h4>Archive</h4>
        <div>
            <b>Expiration:&nbsp;&nbsp;
                <div class="ui right labeled input" style="width:90px;">
                    <input [(ngModel)]="config.archive.expiration" type="text" >
                    <div class="ui basic label">
                        <select id="archiveExpirationTimeformat" matNativeControl required>
                          <option value="3600">hours</option>
                          <option value="60">minutes</option>
                          <option value="1" selected>seconds</option>
                        </select>
                    </div>
                </div> 
            </b>
        </div>

        <p></p>

        <b>Period:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.archive.period" type="text">
              <div class="ui basic label">
                  <select id="archivePeriodTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>

        <div class="input-wrapper">
          <b>Reference Date:&nbsp;&nbsp;</b>
          <input [(ngModel)]="config.archive.referenceDate"
                 [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
          <owl-date-time #dtPicker2></owl-date-time>
        </div>
        
      </div>

      <div *ngIf="config.controlConnection!=null" class="ui container segment" >
        <h4>Control Connection</h4>
        
        <div class="input-wrapper">
          <b>Reference Date:&nbsp;&nbsp;</b>
          <input [(ngModel)]="config.controlConnection.referenceDate"
                 [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3">
          <owl-date-time #dtPicker3></owl-date-time>
        </div>

        <p></p>

        <b>Period:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.controlConnection.period" type="text">
              <div class="ui basic label">
                  <select id="controlConnectionPeriodTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>

        <b>Retry Delay:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.controlConnection.retryDelay" type="text">
              <div class="ui basic label">
                  <select id="controlConnectionRetryDelayTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>

        <div>
          <b>Maximum Retries:
          <mat-form-field appearance="standard">
          <mat-label>{{config.controlConnection.maxRetries}}</mat-label>
          <input [(ngModel)]="config.controlConnection.maxRetries" matInput placeholder="Maximum Retries">
          </mat-form-field>
          </b>
        </div>

      </div>

      <div *ngIf="config.core!=null" class="ui container segment" >
        <h4>Core</h4>

        <div>
          <b>Maximum System Log Size:
          <mat-form-field appearance="standard">
          <mat-label>{{config.core.maxSystemLogSize}}</mat-label>
          <input [(ngModel)]="config.core.maxSystemLogSize" matInput placeholder="Maximum System Log Size">
          </mat-form-field>
          </b> (bytes)
        </div>
        
        <p></p>

        <b>Storage Monitor Period:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.core.storageMonitorPeriod" type="text">
              <div class="ui basic label">
                  <select id="coreStorageMonitorPeriodTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>

        <div>
          <b>Storage Warning Threshold:
          <mat-form-field appearance="standard">
          <mat-label>{{config.core.storageWarningThreshold}}</mat-label>
          <input [(ngModel)]="config.core.storageWarningThreshold" matInput placeholder="Storage Warning Threshold">
          </mat-form-field>
          </b> (bytes)
        </div>

        <div>
          <b>Storage Critical Threshold:
          <mat-form-field appearance="standard">
          <mat-label>{{config.core.storageCriticalThreshold}}</mat-label>
          <input [(ngModel)]="config.core.storageCriticalThreshold" matInput placeholder="Storage Critical Threshold">
          </mat-form-field>
          </b> (bytes)
        </div>
        
      </div>

      <div *ngIf="config.data!=null" class="ui container segment" >
        <h4>Data</h4>

        <div>
          <b>Default Message: 
          <mat-form-field appearance="standard">
          <mat-label>{{config.data.defaultMessage}}</mat-label>
          <input [(ngModel)]="config.data.defaultMessage" matInput placeholder="Default Message">
          </mat-form-field>
          </b>
        </div>

      </div>

      <div *ngIf="config.download!=null" class="ui container segment" >
        <h4>Download</h4>

        <b>Retry Delay:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.download.retryDelay" type="text">
              <div class="ui basic label">
                  <select id="downloadRetryDelayTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>
        
        <div>
          <b>Maximum Retries:
          <mat-form-field appearance="standard">
          <mat-label>{{config.download.maxRetries}}</mat-label>
          <input [(ngModel)]="config.download.maxRetries" matInput placeholder="Maximum Retries">
          </mat-form-field>
          </b>
        </div>

      </div>

      <div *ngIf="config.scanning!=null" class="ui container segment" >
        <h4>Scanning</h4>
        
        <div><b><mat-checkbox [(ngModel)]="config.scanning.enableMonitor" [checked]="config.scanning.enableMonitor" >Enable Monitor</mat-checkbox></b></div>
        

        <b>Sample Time:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.scanning.sampleTime" type="text" >
              <div class="ui basic label">
                  <select id="scanningSampleTimeTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <div><b><mat-checkbox [(ngModel)]="config.scanning.enableCsq" [checked]="config.scanning.enableCsq" >Enable Csq</mat-checkbox></b></div>

        <div><b><mat-checkbox [(ngModel)]="config.scanning.enableMoni" [checked]="config.scanning.enableMoni" >Enable Moni</mat-checkbox></b></div>

        <div><b><mat-checkbox [(ngModel)]="config.scanning.enableMonp" [checked]="config.scanning.enableMonp" >Enable Monp</mat-checkbox></b></div>

        <div><b><mat-checkbox [(ngModel)]="config.scanning.enableSmond" [checked]="config.scanning.enableSmond" >Enable Smond</mat-checkbox></b></div>

        <div><b><mat-checkbox [(ngModel)]="config.scanning.enableSmonc" [checked]="config.scanning.enableSmonc" >Enable Smonc</mat-checkbox></b></div>

      </div>

      <div *ngIf="config.server!=null" class="ui container segment" >
        <h4>Server</h4>

        <div>
          <b>Server Interface: 
          <mat-form-field appearance="standard">
          <mat-label>{{config.server.serverInterface}}</mat-label>
          <input [(ngModel)]="config.server.serverInterface" matInput placeholder="Server Interface">
          </mat-form-field>
          </b>
        </div>

        <p></p>

        <b>Registration Retry Delay:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.server.registrationRetryDelay" type="text">
              <div class="ui basic label">
                  <select id="serverRegRetDelayTimeTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>

        <div>
          <b>Server Address: 
          <mat-form-field appearance="standard">
          <mat-label>{{config.server.serverAddress}}</mat-label>
          <input [(ngModel)]="config.server.serverAddress" matInput placeholder="Server Address">
          </mat-form-field>
          </b>
        </div>

        <div>
          <b>Server User: 
          <mat-form-field appearance="standard">
          <mat-label>{{config.server.serverUser}}</mat-label>
          <input [(ngModel)]="config.server.serverUser" matInput placeholder="Server User">
          </mat-form-field>
          </b>
        </div>

        <div>
          <b>Server Password: 
          <mat-form-field appearance="standard">
          <mat-label>{{config.server.serverPassword}}</mat-label>
          <input [(ngModel)]="config.server.serverPassword" matInput placeholder="Server Password">
          </mat-form-field>
          </b>
        </div>

      </div>

      <div *ngIf="config.testPlan!=null" class="ui container segment" >
          <h4>TestPlan</h4>

          <div>
            <b>Default Maximum Retries:
            <mat-form-field appearance="standard">
            <mat-label>{{config.testPlan.defaultMaxRetries}}</mat-label>
            <input [(ngModel)]="config.testPlan.defaultMaxRetries" matInput placeholder="Default Maximum Retries">
            </mat-form-field>
            </b>
          </div>

          <p></p>

          <b>Default Retry Delay:&nbsp;&nbsp;
            <div class="ui right labeled input" style="width:90px;">
                <input [(ngModel)]="config.testPlan.defaultRetryDelay" type="text">
                <div class="ui basic label">
                    <select id="defRetDelTimeformat" matNativeControl required>
                      <option value="3600">hours</option>
                      <option value="60">minutes</option>
                      <option value="1" selected>seconds</option>
                    </select>
                </div>
            </div> 
          </b>

          <p></p>

          <div>
            <b>Maximum Log Size:
            <mat-form-field appearance="standard">
            <mat-label>{{config.testPlan.maxLogSize}}</mat-label>
            <input [(ngModel)]="config.testPlan.maxLogSize" matInput placeholder="Maximum Log Size">
            </mat-form-field>
            </b> (bytes)
          </div>
      
      </div>

      <div *ngIf="config.upload!=null" class="ui container segment" >
        <h4>Upload</h4>

        <div><b><mat-checkbox [(ngModel)]="config.upload.autoUpload" [checked]="config.upload.autoUpload" >Auto Upload</mat-checkbox></b></div>
        
        <div class="input-wrapper">
          <b>Reference Date:&nbsp;&nbsp;</b>
          <input [(ngModel)]="config.upload.referenceDate"
                 [owlDateTimeTrigger]="dtPicker4" [owlDateTime]="dtPicker4">
          <owl-date-time #dtPicker4></owl-date-time>
        </div>

        <p></p>

        <b>Period:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.upload.period" type="text">
              <div class="ui basic label">
                  <select id="uploadPeriodTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>

        <p></p>

        <b>Retry Delay:&nbsp;&nbsp;
          <div class="ui right labeled input" style="width:90px;">
              <input [(ngModel)]="config.upload.retryDelay" type="text">
              <div class="ui basic label">
                  <select id="uploadRetDelTimeformat" matNativeControl required>
                    <option value="3600">hours</option>
                    <option value="60">minutes</option>
                    <option value="1" selected>seconds</option>
                  </select>
              </div>
          </div> 
        </b>
        
        <p></p>

        <div>
          <b>Maximum Retries:
          <mat-form-field appearance="standard">
          <mat-label>{{config.upload.maxRetries}}</mat-label>
          <input [(ngModel)]="config.upload.maxRetries" matInput placeholder="Maximum Retries">
          </mat-form-field>
          </b> (bytes)
        </div>

        <div>
          <b>Maximum Upload Size:
          <mat-form-field appearance="standard">
          <mat-label>{{config.upload.maxUploadSize}}</mat-label>
          <input [(ngModel)]="config.upload.maxUploadSize" matInput placeholder="Maximum Upload Size">
          </mat-form-field>
          </b> (bytes)
        </div>

    </div>
      
    <div *ngIf="config.voice!=null" class="ui container segment" >
      <h4>Voice</h4>

      <b>Default Call Duration:&nbsp;&nbsp;
        <div class="ui right labeled input" style="width:90px;">
            <input [(ngModel)]="config.voice.defaultCallDuration" type="text">
            <div class="ui basic label">
                <select id="voiceDefaultCallDurationTimeformat" matNativeControl required>
                  <option value="3600">hours</option>
                  <option value="60">minutes</option>
                  <option value="1" selected>seconds</option>
                </select>
            </div>
        </div> 
      </b>

      <p></p>
      
      <b>Incoming Call Timeout:&nbsp;&nbsp;
        <div class="ui right labeled input" style="width:90px;">
            <input [(ngModel)]="config.voice.incomingCallTimeout" type="text">
            <div class="ui basic label">
                <select id="voiceIncomingCallTimeoutTimeformat" matNativeControl required>
                  <option value="3600">hours</option>
                  <option value="60">minutes</option>
                  <option value="1" selected>seconds</option>
                </select>
            </div>
        </div> 
      </b>
      
    </div>
  
      <div *ngIf="config.modified_date!=null || config.modifier!=null">
      <div><b>Modifier: </b>{{config.modifier}}</div>
      <div><b>Modified Date: </b>{{config.modifiedDate}}</div>
      </div>
  
  </div>
  
  <div style="margin-top:30px;">
          <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
          <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
  </div>
  
  </div>