<div class="ui raised very padded text container segment">

  <div *ngIf="config">
      <h2>Configuration Details</h2>
      <div><b>id: </b>{{config.id}}</div>

      <div><b>creator: </b>{{config.creator}}</div>
  
      <div><b>creation_date: </b>{{config.creationDate}}</div>

      <div *ngIf="config.activationDate!=null"  ><b>activation_date: </b>{{config.activationDate}}</div>
      


      <div *ngIf="config.archive!=null" class="ui container segment" >
        <h4>Archive</h4>
        <div><b>Expiration: </b>{{config.archive.expiration}}</div>

        <div>
            <b>Expiration: 
            <mat-form-field appearance="standard">
            <mat-label>{{config.archive.expiration}}</mat-label>
            <input [(ngModel)]="config.archive.expiration" matInput placeholder="Expiration">
            </mat-form-field>
            </b>days
        </div>

        <div><b>Period: </b>{{config.archive.period}}</div>
        
        <div><b>Reference Date: </b>
          <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="config.archive.referenceDate">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="config.testPlan!=null" class="ui container segment" >
          <h4>TestPlan</h4>
          <div><b>defaultMaxRetries: </b>{{config.testPlan.defaultMaxRetries}}</div>
          <div><b>defaultRetryDelay: </b>{{config.testPlan.defaultRetryDelay}}</div>
          <div><b>maxLogSize: </b>{{config.testPlan.maxLogSize}}</div>
      </div>

      
  
      <div *ngIf="config.modified_date!=null || config.modifier!=null">
      <div><b>modifier: </b>{{config.modifier}}</div>
      <div><b>modified_date: </b>{{config.modifiedDate}}</div>
      </div>
  
  </div>
  
  <div style="margin-top:30px;">
          <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
          <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
  </div>
  
  </div>