<div id="container">
<h4>Projects</h4>
<div class="controlBar">
  <!-- <span>{{status}}</span> -->
  <mat-form-field>
    <mat-select [(ngModel)]="createdBy" (selectionChange)="refresh()">
      <mat-option [value]="auth.currentUser?.id">
        Created by me
      </mat-option>
      <mat-option [value]="null">
        Created by Anyone
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="orderBy" placeholder="Sort by" (selectionChange)="refresh()">
      <mat-option [value]="null">
        Sort by
      </mat-option>
      <mat-option [value]="'name'">
        Name
      </mat-option>
      <mat-option [value]="'created'">
        Created
      </mat-option>
      <mat-option [value]="'modified'">
        Modified
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="sort" placeholder="Direction" [disabled]="!orderBy" (selectionChange)="refresh()">
      <mat-option [value]="null">
        Direction
      </mat-option>
      <mat-option [value]="'asc'">
        Ascending
      </mat-option>
      <mat-option [value]="'desc'">
        Descending
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="epp" placeholder="EPP" (change)="refresh()">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="pageN" placeholder="Page" (change)="refresh()">
  </mat-form-field>
</div>
<div id="cardList">
  <mat-card *ngFor="let project of projects; let i = index" 
    (click)="selectProject(project)" (dblclick)="editProject(project)"
    class="projectCard" [ngClass]="project === selectedProject ? 'selected' : ''"
    [contextMenu]="basicMenu" [contextMenuSubject]="project">
		<mat-card-content>
		<img mat-card-image src="/assets/screenshot.png">
		<span class="projectTitle">{{project.name}}</span><br />
        <span class="modified">Modified: {{project.modified}}</span>
      </mat-card-content>
	</mat-card>
  <!-- <button mat-fab (click)="newProject()" matTooltip="New Project" style="position: absolute; bottom: 2em; right: 6em">
    <mat-icon fontSet="fa" fontIcon="fa-plus" style="font-size: 30px"></mat-icon>
  </button> -->
  <button mat-fab (click)="newProject()" *ngIf="!inDialog" matTooltip="New Project" style="position: fixed; bottom: 2.5em; right: 2em">
    <span style="font-size: 70px">+</span>
  </button>
</div>

</div>

<context-menu #basicMenu style="pointer-events:all" [menuClass]="'mat-menu-panel'">
	<div class="mat-menu-content">
      <ng-template contextMenuItem (execute)="openProject($event.item)">
        <button mat-menu-item>Open Project (RO)</button>
      </ng-template>
      <ng-template contextMenuItem (execute)="editProject($event.item)">
	    <button mat-menu-item>Edit Project</button>
      </ng-template>
    </div>
</context-menu>

