<mat-form-field>
    <input matInput type="number" placeholder="Latitude" [disabled]="!feature" [(ngModel)]="feature?.geometry.coordinates[1]" (change)="coordsChanged()">
</mat-form-field>
<mat-form-field>
    <input matInput type="number" placeholder="Longitude" [disabled]="!feature" [(ngModel)]="feature?.geometry.coordinates[0]" (change)="coordsChanged()">
</mat-form-field>
<mat-form-field style="width: 100px">
    <input matInput type="number" placeholder="Altitude" [disabled]="!feature" [(ngModel)]="feature?.geometry.coordinates[2]">
</mat-form-field>
<mat-form-field style="width: 100px">
    <input matInput type="number" placeholder="PK" [disabled]="!feature" [(ngModel)]="feature?.properties.kilometricPoint">
</mat-form-field>
