
<script src="/script.js"></script>
<div id="content" class="ui container">
  
    <div class="ui segment">
      <div class="ui grid">
        <div class="four wide column">Obu Name</div>
        <div class="four wide column">Obu State</div>
        <div class="four wide column">Current Obu Configuration</div>
        <!-- <div class="four wide column">Current_test_plan_id</div> -->
        <div class="four wide column"></div>
      </div>
      <div class="ui divider"></div>
  
  
      <div class="ui" style="height: 70%;">
        <div class="ui segment" *ngFor="let obu of obus">
          <div class="ui middle aligned grid">
            <div class="four wide column">{{obu.obuName}}</div>
            <div class="four wide column">{{obu.obuState}}</div>
            <div class="four wide column" *ngIf="obu.CurrentConfigId!=null">{{obu.CurrentConfigId}}</div>
            <div class="four wide column" *ngIf="obu.CurrentConfigId==null">No Configuration</div>
            <!-- <div class="four wide column">{{obu.Current_test_plan_id}}</div> -->
            <div class="four wide right aligned column">
              <div class="ui suspend button" (click)="edit(obu.id)" data-tooltip="Edit Obu">Edit</div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="canCreateObu()">
          <div class="ui hidden divider"></div>
          <div class="ui grid">
            <div class="five wide column">
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="obu_name" placeholder="Obu Name...">
              </div>
            </div>
    
            <div class="one wide column"></div>
    
            <div class="five wide column">
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="obu_password" type="password" placeholder="Obu Password...">
              </div>
            </div>
    
            <div class="one wide column">
            </div>

            <div class="four wide right aligned column">
              <div class="ui blue fluid button" (click)="createObu()">Create</div>
            </div>
          </div>
        </div>


</div>