<p></p>

<div class="ui raised very padded text container segment" >
<mat-spinner *ngIf="user == null"></mat-spinner>
<div *ngIf="user">
  <h2>User Details</h2>
  <div><b>id: </b>{{user.id}}</div>

  <div>
    <b>User Name: </b>{{user.userName}}     
  </div>

  <b>User Profile: </b>
  <mat-form-field>
    <select matNativeControl required [(ngModel)]="user.userProfile">
      <option value="ADMIN">ADMIN</option>
      <option value="SUPER_USER">SUPER_USER</option>
      <option value="NORMAL_USER">NORMAL_USER</option>
    </select>
  </mat-form-field>

  <div><mat-checkbox [(ngModel)]="user.suspended" [checked]="user.suspended"><b>Suspended</b></mat-checkbox></div>

    
    <div *ngIf="user.userProfile!='ADMIN'" class="ui container segment" >
      <h4>OBU Associations</h4>
      <mat-spinner *ngIf="user_has_obu == null"></mat-spinner>
      <div class="ui segment" *ngFor="let userobu of user_has_obu">
          <div class="ui middle aligned grid">
              <div class="four wide column">{{userobu.obuName}}</div>
              <div class="eight wide column">{{userobu.role}}</div>
              <div class="four wide right aligned column">
                  <div class="ui suspend button" (click)="deleteObuFromUser(userobu.obuID, user.id)" data-tooltip="Delete OBU From User">Delete</div>
              </div>
          </div>
      </div>
      <p></p>
      <div><b>OBUs: </b>
          <mat-form-field>
          <select matNativeControl required [(ngModel)]="obuToAddId">
              <option value="null">Choose OBU</option>
              <option *ngFor="let obu of obus" value="{{obu.id}}">{{obu.obuName}}</option>
          </select>
          </mat-form-field>
      </div>

      <div class="ui middle aligned grid">
        <div class="one wide column"><b>Role: </b></div> 
        <div class="three wide column">
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="frequency" value=0 (click)="setViewer()"  checked="checked">
                    <label>Viewer</label>
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="frequency" value=1 (click)="setEditor()" >
                    <label>Editor</label>
                </div>
            </div>
        </div>
        
    </div>
      <p></p>
      <button class="ui primary button" (click)="addObuToUser(obuToAddId,user.id)" data-tooltip="Add OBU To User"> Add OBU</button>
      
  </div>


  <p></p>
  <div><b>Creator: </b>{{user.creator}}</div>

  <div><b>Creation Date: </b>{{user.creationDate.slice(0,10)}} {{user.creationDate.slice(11,19)}}</div>

  <div *ngIf="user.modifiedDate!=null || user.modifier!=null">
      <div><b>Modifier: </b>{{user.modifier}}</div>
      <div><b>Modified Date: </b>{{user.modifiedDate.slice(0,10)}} {{user.modifiedDate.slice(11,19)}}</div>
      </div>
   
</div>

<div style="margin-top:30px;">
    <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
    <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
</div>

</div>