<p></p>

<div class="ui raised very padded text container segment">

<div *ngIf="user">
  <h2>User Details</h2>
  <div><b>id: </b>{{user.id}}</div>

  <div>
    <b>User Name: </b>{{user.userName}}     
  </div>

  <b>User Profile: </b>
  <mat-form-field>
    <select matNativeControl required [value]="user.userProfile">
      <option value="ADMIN">ADMIN</option>
      <option value="SUPER_USER">SUPER_USER</option>
      <option value="NORMAL_USER">NORMAL_USER</option>
    </select>
  </mat-form-field>

  <div><mat-checkbox [(ngModel)]="user.suspended" [checked]="user.suspended"><b>Suspended</b></mat-checkbox></div>

    
    <div *ngIf="user.userProfile!=ADMIN" class="ui container segment" >
      <h4>OBU Associations</h4>
      <mat-spinner *ngIf="user_has_obu == null"></mat-spinner>
      <div class="ui segment" *ngFor="let userobu of user_has_obu">
          <div class="ui middle aligned grid">
              <div class="four wide column">{{userobu.obuID}}</div>
              <div class="eight wide column">{{userobu.role}}</div>
              <div class="four wide right aligned column">
                  <div class="ui suspend button" (click)="deleteUserOBU(userobu.obuID, user.id)" data-tooltip="Delete OBU From User">Delete</div>
              </div>
          </div>
      </div>
    </div> <!--ESTE DIV é para Apagar depois de descomentar o que esta em baixo-->
<!--
      <p></p>

      <div><b>Configurations: </b>
          <mat-form-field>
          <select matNativeControl required [(ngModel)]="configToAddId">
              <option value="null">Choose Configuration</option>
              <option *ngFor="let config of configs" value="{{config.id}}">{{config.configName}}</option>
          </select>
          </mat-form-field>
      </div>
      <button class="ui primary button" (click)="addConfigToObu(configToAddId)" data-tooltip="Add Configuration To OBU"> Add Config</button>
      
  </div>
-->

  <p></p>
  <div><b>Creator: </b>{{user.creator}}</div>

  <div><b>Creation Date: </b>{{user.creationDate.slice(0,10)}} {{user.creationDate.slice(11,19)}}</div>

  <div *ngIf="user.modifiedDate!=null || user.modifier!=null">
      <div><b>Modifier: </b>{{user.modifier}}</div>
      <div><b>Modified Date: </b>{{user.modifiedDate.slice(0,10)}} {{user.modifiedDate.slice(11,19)}}</div>
      </div>
   
</div>

<div style="margin-top:30px;">
    <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
    <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
</div>

</div>