<!---->
<div *ngIf="user">
  <h2>User Details</h2>
  <div><b>id: </b>{{user.id}}</div>

  <div>
      <label>user_name:
        <input [(ngModel)]="user.user_name" placeholder="user_name"/>
      </label>
  </div>

  <div>
    <b>user_name: 
      <mat-form-field appearance="standard">
        <mat-label>{{user.user_name}}</mat-label>
        <input matInput placeholder="user_name">
      </mat-form-field>
    </b>
  </div>

<b>user_profile: </b>
<mat-form-field>
  <select matNativeControl required [value]="user.user_profile">
    <option value="ADMIN">ADMIN</option>
    <option value="SUPER_USER">SUPER_USER</option>
    <option value="NORMAL_USER">NORMAL_USER</option>
  </select>
</mat-form-field>
  
  <div>
      <b>properties:
        <input [(ngModel)]="user.properties" placeholder="properties"/>
      </b>
  </div>

  <div><b>creator: </b>{{user.creator}}</div>

  <div><b>creation_date: </b>{{user.creation_date}}</div>

  <b>suspended: </b>
  <mat-form-field>
    <select matNativeControl required [value]="user.suspended">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  </mat-form-field>

  <div><b>modifier: </b>{{user.modifier}}</div>

  <div><b>modified_date: </b>{{user.modified_date}}</div>
   
</div>

<div style="margin-top:30px;">
    <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
    <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
</div>