<div id="container">
<h4>Layers</h4>
<div class="controlBar">
  <!-- <span>{{status}}</span> -->
  <mat-form-field>
  <mat-select [(ngModel)]="layerType" placeholder="Type" (selectionChange)="refresh()">
      <mat-option [value]="'railway'">
        Railway
      </mat-option>
      <mat-option [value]="'clutter'">
        Clutter
      </mat-option>
      <mat-option [value]="'raiwayInfrastructure'">
        Infrastructure
      </mat-option>
      <mat-option [value]="'buildingGroup'">
        Building Group
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="orderBy" placeholder="Order by" (selectionChange)="refresh()">
      <mat-option [value]="null">
        Sort by
      </mat-option>
      <mat-option [value]="'name'">
        Name
      </mat-option>
      <mat-option [value]="'created'">
        Created
      </mat-option>
      <mat-option [value]="'modified'">
        Modified
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="sort" placeholder="Direction" [disabled]="!orderBy" (selectionChange)="refresh()">
      <mat-option [value]="null">
        Direction
      </mat-option>
      <mat-option [value]="'asc'">
        Ascending
      </mat-option>
      <mat-option [value]="'desc'">
        Descending
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="epp" placeholder="EPP" (change)="refresh()">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="pageN" placeholder="Page" (change)="refresh()">
  </mat-form-field>
</div>
<div id="cardList">
  <mat-card *ngFor="let layer of layers; let i = index" class="railwayCard" [ngClass]="layer === selectedLayer ? 'selected' : ''" 
    (click)="selectLayer(layer)" (dblclick)="openLayer(layer)">
    <mat-card-title style="text-align: center">
      <fa-icon icon="train" *ngIf="layerType == 'railway'" class="layerIcon"></fa-icon>
      <fa-icon icon="map-marked" *ngIf="layerType == 'clutter'" class="layerIcon"></fa-icon>
      <fa-icon icon="map-marker" *ngIf="layerType == 'railwayInfrastructure'" class="layerIcon"></fa-icon>
      <fa-icon icon="building" *ngIf="layerType == 'buildingGroup'" class="layerIcon"></fa-icon>
    </mat-card-title>
    <mat-card-content>
      <span class="layerTitle">{{layer.name}}</span>
      <br /> Modified: {{layer.modified}}
    </mat-card-content>
  </mat-card>
</div>
</div>