<div class="ui raised very padded text container segment">

<div *ngIf="obu">
    <h2>Obu Details</h2>
    <div><b>id: </b>{{obu.id}}</div>
    <div><b>hardware_id: </b>{{obu.hardwareId}}</div>
    <div>
        <b>obu_name:
        <mat-form-field appearance="standard">
        <mat-label>{{obu.obuName}}</mat-label>
        <input [(ngModel)]="obu.obuName" matInput placeholder="obu_name">
        </mat-form-field>
        </b>
    </div>

    <b>obu_state: </b>
    <mat-form-field>
    <select matNativeControl required [value]="obu.obuState">
        <option value="READY">READY</option>
        <option value="ACTIVE">ACTIVE</option>
        <option value="DEACTIVATED">DEACTIVATED</option>
    </select>
    </mat-form-field>
    
    <div><b>current_config_id: </b>{{obu.currentConfigId}}</div>
    <div><b>current_test_plan_id: </b>{{obu.currentTestPlanId}}</div>

    <div>
        <b>properties:
        <input [(ngModel)]="obu.properties" placeholder="properties"/>
        </b>
    </div>

    <div><b>creator: </b>{{obu.creator}}</div>

    <div><b>creation_date: </b>{{obu.creationDate}}</div>

    <div *ngIf="obu.modified_date!=null || obu.modifier!=null">
    <div><b>modifier: </b>{{obu.modifier}}</div>
    <div><b>modified_date: </b>{{obu.modifiedDate}}</div>
    </div>

</div>

<div style="margin-top:30px;">
        <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
        <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
</div>

</div>