<p></p>

<div class="ui raised very padded text container segment">

<div *ngIf="obu">
    <h2>Obu Details</h2>
    <div><b>id: </b>{{obu.id}}</div>

    <div><b>hardware_id: </b>{{obu.hardwareId}}</div> 

    <div><b>Hardware: </b>
    <mat-form-field>
    <select matNativeControl required [(ngModel)]="obu.hardwareId">
        <option *ngFor="let hardware of hardwares" value="{{hardware.id}}">{{hardware.serialNumber}}</option>
    </select>
    </mat-form-field>
    </div>

    <div>
        <b>Name:
        <mat-form-field appearance="standard">
        <mat-label>{{obu.obuName}}</mat-label>
        <input [(ngModel)]="obu.obuName" matInput placeholder="obu_name">
        </mat-form-field>
        </b>
    </div>

    <div><b>State: </b>{{obu.obuState}}</div>

    <div *ngIf="obu.currentConfigId == null"><b>Current Configuration: </b>No Configuration</div> 
    <div *ngFor="let config of configs">
        <div *ngIf="config.id == obu.currentConfigId"><b>Current Configuration: </b>{{config.configName}}</div> 
    </div>
    
    <div *ngIf="obu.currentTestPlanId == null"><b>Current Test Plan: </b>No Test Plan</div> 
    <div *ngFor="let testplan of testPlans">
        <div *ngIf="testplan.id == obu.currentConfigId"><b>Current Test Plan: </b>{{testplan.testplanName}}</div> 
    </div>

    <!--
    <b>State: </b>
    <mat-form-field>
    <select matNativeControl required [value]="obu.obuState">
        <option value="READY">READY</option>
        <option value="ACTIVE">ACTIVE</option>
        <option value="DEACTIVATED">DEACTIVATED</option>
    </select>
    </mat-form-field>
    
    <div><b>Current Configuration: </b>
        <mat-form-field>
        <select matNativeControl required [(ngModel)]="obu.currentConfigId">
            <option value="null">No Configuration</option>
            <option *ngFor="let config of configs" value="{{config.id}}">{{config.configName}}</option>
        </select>
        </mat-form-field>
    </div>

    <div><b>Current Test Plan: </b>
        <mat-form-field>
        <select matNativeControl required [(ngModel)]="obu.currentTestPlanId">
            <option value="null">No Test Plan</option>
            <option *ngFor="let testplan of testPlans" value="{{testplan.id}}">{{testplan.testplanName}}</option>
        </select>
        </mat-form-field>
    </div>
    -->

    <div><b>Factory Configuration: </b>
        <mat-form-field>
        <select matNativeControl required [(ngModel)]="obu.factoryConfig">
            <option value="null">No Configuration</option>
            <option *ngFor="let config of configs" value="{{config.id}}">{{config.configName}}</option>
        </select>
        </mat-form-field>
    </div>

    <div class="ui container segment" >
        <h4>OBU Configurations</h4>
        <mat-spinner *ngIf="obu_has_configs == null"></mat-spinner>
        <div class="ui segment" *ngFor="let obuConfigs of obu_has_configs">
            <div class="ui middle aligned grid">
                <div class="four wide column">{{obuConfigs.config.configName}}</div>
                <div *ngIf="obuConfigs.config.activationDate == null" class="eight wide column">No Activation Date</div>
                <div *ngIf="obuConfigs.config.activationDate != null" class="eight wide column">{{obuConfigs.config.activationDate}}</div>      
                <!--<div class="four wide column"></div>-->
                <div class="four wide right aligned column">
                    <div class="ui suspend button" (click)="editConfig(obu.id)" data-tooltip="Edit Config">Edit</div>
                </div>
            </div>
        </div>

        <p></p>

        <div><b>Configurations: </b>
            <mat-form-field>
            <select matNativeControl required [(ngModel)]="configToAddId">
                <option value="null">Choose Configuration</option>
                <option *ngFor="let config of configs" value="{{config.id}}">{{config.configName}}</option>
            </select>
            </mat-form-field>
        </div>
        <button class="ui primary button" (click)="addConfigToObu(configToAddId)" data-tooltip="Add Configuration To Obu"> Add Config</button>
        
    </div>


    <div class="ui container segment" >
            <h4>OBU Test Plans</h4>
            <mat-spinner *ngIf="obu_has_testplans == null"></mat-spinner>
            <div class="ui segment" *ngFor="let obuTestPlan of obu_has_testplans">
                <div class="ui middle aligned grid">
                    <div class="four wide column">{{obuTestPlan.testPlan.testplanName}}</div>
                    <div *ngIf="obuTestPlan.testPlan.startDate == null" class="eight wide column">No Start Date</div>
                    <div *ngIf="obuTestPlan.testPlan.startDate != null" class="eight wide column">{{obuTestPlan.testPlan.startDate}}</div>      
                    <!--<div class="four wide column"></div>-->
                    <div class="four wide right aligned column">
                        <div class="ui suspend button" (click)="editTestPlan(obu.id)" data-tooltip="Edit Test Plan">Edit</div>
                    </div>
                </div>
            </div>
    
            <p></p>
    
            <div><b>Test Plans: </b>
                <mat-form-field>
                <select matNativeControl required [(ngModel)]="testPlanToAddId">
                    <option value="null">Choose Test Plan</option>
                    <option *ngFor="let testPlan of testPlans" value="{{testPlan.id}}">{{testPlan.testplanName}}</option>
                </select>
                </mat-form-field>
            </div>
            <button class="ui primary button" (click)="addTestPlanToObu(testPlanToAddId)" data-tooltip="Add Test Plan To Obu"> Add Test Plan</button>
            
        </div>


    <div *ngIf="obu.sims!=null" class="ui container segment" >
            <h4>SIMS ({{obu.sims.length}})</h4>
            <div class="ui segment" *ngFor="let sim of obu.sims">
                
                <b>Modem Type: </b>
                <mat-form-field>
                <select matNativeControl required [(ngModel)]="sim.modemType">
                    <option value="PLMN">PLMN</option>
                    <option value="GSMR">GSMR</option>
                </select>
                </mat-form-field>

                <div>
                    <b>MSISDN:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.msisdn}}</mat-label>
                    <input [(ngModel)]="sim.msisdn" matInput placeholder="MSISDN">
                    </mat-form-field>
                    </b>
                </div>

                <div>
                    <b>PIN:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.simPin}}</mat-label>
                    <input [(ngModel)]="sim.simPin" matInput placeholder="SIM PIN">
                    </mat-form-field>
                    </b>
                </div>

                <div>
                    <b>PUK:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.simPuk}}</mat-label>
                    <input [(ngModel)]="sim.simPuk" matInput placeholder="Sim PUK">
                    </mat-form-field>
                    </b>
                </div>

                <div>
                    <b>ICCID:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.iccid}}</mat-label>
                    <input [(ngModel)]="sim.iccid" matInput placeholder="ICCID">
                    </mat-form-field>
                    </b>
                </div>

                <div>
                    <b>APN:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.apn}}</mat-label>
                    <input [(ngModel)]="sim.apn" matInput placeholder="APN">
                    </mat-form-field>
                    </b>
                </div>

                <div>
                    <b>APN User:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.apnUser}}</mat-label>
                    <input [(ngModel)]="sim.apnUser" matInput placeholder="APN User">
                    </mat-form-field>
                    </b>
                </div> 

                <div>
                    <b>APN Pass:
                    <mat-form-field appearance="standard">
                    <mat-label>{{sim.apnPass}}</mat-label>
                    <input [(ngModel)]="sim.apnPass" matInput placeholder="APN Pass">
                    </mat-form-field>
                    </b>
                </div> 
                
                <button class="ui primary button" (click)="deleteSim(sim)" data-tooltip="Delete Sim"> Delete Sim</button>

            </div>
            
            <button *ngIf="obu.sims.length != 2"  class="ui primary button" (click)="addSim()" data-tooltip="Add Component"> Add Sim</button>
            
    </div>

    <div><b><mat-checkbox [(ngModel)]="obu.uploadRequest" [checked]="obu.uploadRequest" >Upload Request</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="obu.clearAlarmsRequest" [checked]="obu.clearAlarmsRequest" >Clear Alarms Request</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="obu.resetRequest" [checked]="obu.resetRequest" >Reset Request</mat-checkbox></b></div>
    <div><b><mat-checkbox [(ngModel)]="obu.shutdownRequest" [checked]="obu.shutdownRequest" >Shutdown Request</mat-checkbox></b></div>

     
    <p></p>

    <div><b>Creator: </b>{{obu.creator}}</div>

    <div><b>Creation Date: </b>{{obu.creationDate}}</div>

    <div *ngIf="obu.modified_date!=null || obu.modifier!=null">
    <div><b>Modifier: </b>{{obu.modifier}}</div>
    <div><b>Modified Date: </b>{{obu.modifiedDate}}</div>
    </div>

</div>

<div style="margin-top:30px;">
        <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
        <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
</div>

</div>