<div class="ui raised very padded text container segment">

<div *ngIf="obu">
    <h2>Obu Details</h2>
    <div><b>id: </b>{{obu.id}}</div>

    <div><b>hardware_id: </b>{{obu.hardwareId}}</div> 

    <div><b>Hardware: </b>
    <mat-form-field>
    <select matNativeControl required [(ngModel)]="obu.hardwareId">
        <option *ngFor="let hardware of hardwares" value="{{hardware.id}}">{{hardware.serialNumber}}</option>
    </select>
    </mat-form-field>

    <div>
        <b>Name:
        <mat-form-field appearance="standard">
        <mat-label>{{obu.obuName}}</mat-label>
        <input [(ngModel)]="obu.obuName" matInput placeholder="obu_name">
        </mat-form-field>
        </b>
    </div>

    <div>
        <b>Password:
        <mat-form-field appearance="standard">
        <mat-label>{{obu.obuPassword}}</mat-label>
        <input [(ngModel)]="obu.obuPassword" matInput placeholder="Obu Name">
        </mat-form-field>
        </b>
    </div>

    <b>State: </b>
    <mat-form-field>
    <select matNativeControl required [value]="obu.obuState">
        <option value="READY">READY</option>
        <option value="ACTIVE">ACTIVE</option>
        <option value="DEACTIVATED">DEACTIVATED</option>
    </select>
    </mat-form-field>
    
    <div *ngIf="obu.currentConfigId != null"><b>Current Configuration: </b>{{obu.currentConfigId}}</div>
    <div *ngIf="obu.currentConfigId == null"><b>Current Configuration: </b>No Configuration</div>

    <div *ngIf="obu.currentTestPlanId != null"><b>Current Test Plan: </b>{{obu.currentTestPlanId}}</div>
    <div *ngIf="obu.currentTestPlanId == null"><b>Current Test Plan: </b>No Test Plan</div>


    <div><b>Creator: </b>{{obu.creator}}</div>

    <div><b>Creation Date: </b>{{obu.creationDate}}</div>

    <div *ngIf="obu.modified_date!=null || obu.modifier!=null">
    <div><b>Modifier: </b>{{obu.modifier}}</div>
    <div><b>Modified Date: </b>{{obu.modifiedDate}}</div>
    </div>

</div>

<div style="margin-top:30px;">
        <div class="ui suspend button" (click)="goBack()" data-tooltip="Go back">Go Back</div>
        <div class="ui suspend button" (click)="saveChanges()" data-tooltip="Save Changes">Save</div>
</div>

</div>